.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
.github/**
.env.example
jest.config.js
node_modules/**
!node_modules/axios/**
!node_modules/openai/**
.eslintrc.js
tsconfig.json
